{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="wrapper bg-light">
    <div class="container py-16 py-md-18">

      <div class="row gx-md-8 gx-xl-12 gy-10">
        <div class="col-12">
            <h1 align="center">Tabriklaymiz!</h1>
            <div class="alert alert-success fw-bold">
                To'g'ri javoblaringiz soni: {{ result }} ta! <br>
                <span class="text-danger">Noto'g'ri javoblaringiz soni: {{ problem_results }} ta! <br></span>
                <span class="text-info">Jami savollar: {{ len_quizes }} ta!</span>
            </div>
            <div class="text-center text-white">
                <a href="{% url 'quiz' %}" class="btn btn-success text-white">Savollar ro'yhati</a>
                <a href="{% url 'home_page' %}" class="btn btn-info text-white">Bosh sahifa</a>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}