{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wrapper bg-gray">
    <div class="container py-12 py-md-16 text-center">
        <div class="row">
            <div class="col-lg-10 col-xxl-8 mx-auto">
                <h1 class="display-1 mb-3">Amaliy mashg'ulotlar</h1>
                <p class="lead mb-1">Amaliy mashg'ulotlar uchun namunalar.</p>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row align-items-center mb-10 position-relative zindex-1">
        <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7 pe-xl-20">
          <h2 class="display-6">Amaliy mashg'ulotlar</h2>
          <nav class="d-inline-block" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Bosh sahifa</a></li>
              <li class="breadcrumb-item active" aria-current="page">Amaliy mashg'ulotlar</li>
            </ol>
          </nav>
          <!-- /nav -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="grid grid-view projects-masonry shop mb-13">
        <div class="row gx-md-8 gy-10 gy-md-13 isotope" style="position: relative; height: 406.938px;">
            {% for i in AMALIYLAR %}
                <div class="item col-md-6 col-xl-4" style="position: absolute; left: 0%; top: 0px;">
                    <div class="card shadow-lg card-border-top border-yellow">
                      <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p><b>Fan: </b>{{ i.fan }}</p>
                        <p class="card-text">{{ i.body }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div>
                                  <span class="text-warning"><b>Yuklab olindi: </b>{{ i.yuklashlar_soni }}marta</span>
                              </div>
                              <div>
                                  <a href="{% url 'download_amaliy' pk=i.pk %}" class="btn btn-gradient gradient-3 mb-2 me-1">Yuklab olish</a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.grid -->
      <nav class="d-flex justify-content-center" aria-label="pagination">
            <ul class="pagination">
                {% if AMALIYLAR.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ AMALIYLAR.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true"><i class="uil uil-arrow-left"></i></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true"><i class="uil uil-arrow-left"></i></span>
                    </a>
                </li>
                {% endif %}

                {% for page_num in AMALIYLAR.paginator.page_range %}
                    <li {% if AMALIYLAR.number == page_num %} class="page-item active"{% else %} class="page-item" {% endif %}>
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}

                {% if AMALIYLAR.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ AMALIYLAR.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true"><i class="uil uil-arrow-right"></i></span>
                        </a>
                    </li>

                    <li><a href="?page={{ AMALIYLAR.next_page_number }}" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true"><i class="uil uil-arrow-right"></i></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <!-- /.pagination -->
        </nav>
      <!-- /nav -->
    </div>
    <!-- /.container -->
  </section>
{% endblock content %}